body{
    box-sizing: border-box;
}
.navbar{
    font-size: 16px ;
    font-family: "Tilt Neon", Verdana,sans-serif;
    margin: 0 80px 30px 80px;
    padding: 5px 80px 5px 80px;

}
.navbar-brand{
    margin-right: 80px;
    color: #6610f2;
}






