body{
    box-sizing: border-box;
    background-color: white;
    padding: 0 0;
    margin: 0 0;

}

.wrapper{
    height:100vh;
    width:100%;
    display:flex;
    margin: auto;
    justify-items: center;
    align-content: center;
    place-content: center;
    place-items: center;

}

.wrapper .circle{
    border-radius: 50px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;

}

.wrapper .one{
    animation: animation-one 1s infinite backwards ;

}

@keyframes animation-one {
    0%{
        width:8px;
        height: 8px;
        background-color: darkcyan;
    }
    50%{
        width:9px;
        height:9px;
        background-color: deepskyblue;
    }
    100%{
        width:11px;
        height:11px;
        background-color: dodgerblue;
    }

}

.wrapper .two{
    animation: animation-two 3s infinite backwards ;
}

@keyframes animation-two {
    0%{
        width:12px;
        height: 12px;
        background-color: lightseagreen;
    }
    50%{
        width:14px;
        height:14px;
        background-color: seagreen;
    }
    100%{
        width:18px;
        height:18px;
        background-color: limegreen;
    }

}

.wrapper .three{
    animation: animation-three 5s infinite backwards ;
}
@keyframes animation-three {
    0%{
        width:21px;
        height: 21px;
        background-color: palevioletred;
    }
    50%{
        width:23px;
        height:23px;
        background-color: crimson;
    }
    100%{
        width:25px;
        height:25px;
        background-color: red;
    }

}
.wrapper .four{
    animation: animation-four 7s infinite backwards ;
}

@keyframes animation-four {
    0%{
        width:26px;
        height: 22px;
        background-color: goldenrod;
    }
    50%{
        width:28px;
        height:28px;
        background-color: orange;
    }
    100%{
        width:30px;
        height:30px;
        background-color: gold;
    }

}